	
/********** MAQUETACIÓN PRINCIPAL **********/
html body {
	font-family: Helvetica, Verdana, Arial, sans-serif;           
}
body a {}
body a:hover {color: #fff; background-color: #f57d03;}
.web-container {}
body .button, body button {}

.web-sidebar {
}

header.web-main-header {
}
aside.web-aside {		
}
.web-modulo {
	
}
.web-main {	
}
.web-main .htop{	
}
.web-main .hright{
}

.web-main-content {	
	background: #FFF;
}

.web-footer1  {
	background: #eaeaea;
}
.web-footer1 .footer {
	background: #A0A0A4;
}

.web-pie {	
}

.web-pie p {
	padding-top:10px;
	font-size:0.8em;
}

/************ ELEMENTOS COMUNES ******************/

.web-menu {font-size: 1em;padding: 0;}

.web-menu ul, .web-menu ul li {list-style-type: none; line-height: 1.4em; padding: 0}


.web-menu ul li a {font-size: 1em; display: block; float: left;}

.web-menu.vertical ul {}

.web-menu.vertical ul li {clear: both; float: none;}
.web-menu.vertical ul li  {}
.web-menu.vertical ul li a {padding: 0.5em;width: 98%}

.web-menu.horizontal, .web-menu.horizontal ul {overflow: visible;}
.web-menu.horizontal ul li {float: left; overflow: visible; display: block}

.web-menu.horizontal ul li a {padding: 0.5em;}
.web-menu.horizontal ul li ul {display: none; padding: 0; margin: 0; position: absolute; top:2.4em; z-index: 3000;background-color: #f6e7d9}
.web-menu.horizontal ul li:hover ul {display: block;  }
.web-menu.horizontal ul li ul li {float: left;clear:both;position: relative;}

.web-list {position: relative; font-size: 1em;}

.web-list ul {list-style-type: none;}

.web-list ul li {float: left; list-style-type: none;}

.web-list ul li a {display: block;}

/************ ETIQUETAS ÚLTILES ******************/
body .hidden {display: none;}
/************ Web Main Header ******************/
.web-main-header {overflow: hidden;position: relative;}
.web-main-header .logo {position: absolute;top:0;z-index: 1000}
.web-main-header .web-site-title {font-size: 1em; margin: 0;padding: 0}
.web-main-header .web-site-tagline {font-size: 1.1em; font-weight: normal;display: block;clear: both;
	margin-top: 50px;
}

/************ HOOK_TOP ******************/
#header_user {position: relative; }

.htop .web-modulo {height: 45px; padding-top: 5px;}
/************ block top languages */
#languages_block_top {
	font-size: 0.7em;
	position: relative;
}

#languages_block_top img {float: left; margin-right: 0.5em;margin-top: 0.4em; clear: none;}
#languages_block_top span {float: left; display: block;width: 70%;clear: none;padding-bottom: 0.4em}

.selected_language  {
	opacity: 0.6;
	margin-top: 0.3em;
	padding-bottom: 0.4em;
}

.selected_language:hover {
	opacity: 1;
}

/*languages with jquery*/
#countries {
	cursor: pointer;
	position: relative;
	top: 1px;
}
#countries p {
	position: relative;
	top: 0;
	padding: 0;
}
#countries p img {
	padding-left: 0px;
}
#countries .countries_ul {
	padding:0;
	margin: 0;	
	list-style-type:none;
	background-color: #ffffff;
	display: none;
	font-size: 1.1em;
	position: absolute;
	z-index: 3000;
	top: 25px;
}
#countries:hover .countries_ul {display: block;}

#countries .countries_ul a {
	display: block;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin: 0;
	background-color: #ffffff;
}
#countries .countries_ul a:hover {color: #000}
//************ block top user information */

#header_right #header_user {
}

#header_user #header_nav {

}


/* account */
#header_user #your_account {display:none;}


/* user infos */ 
#header_user_info {
font-size: 0.7em;
	
}
#header_user_info a {
display: block;
min-height: 18px;
padding-right: 0;
margin: 0;
	
}

#header_user_info a.account {background: url('../img/icon/my-account.gif') no-repeat 0px 0px; padding-left: 22px; }
#header_user_info a.login {background: url('../img/icon/login.gif') no-repeat 0px 0px; padding-left: 22px;}
#header_user_info a.logout {background: url('../img/icon/logout.png') no-repeat 0px 0px; padding-left: 22px;}

/* cart */
#shopping_cart {
background-color: #e2e2e2;
width: 100%;
font-size:0.9em;
height: 40px	
}
#shopping_cart a{
	
	padding:15px 10px 10px 43px;
	background: url('../img/icon/cart.gif') no-repeat 10px 9px;
	display:block}
#shopping_cart a:hover {color:}
#shopping_cart a:hover span{text-decoration: none}
#header_user #shopping_cart .ajax_cart_quantity {   }
#header_user #shopping_cart .ajax_cart_total { display:none !important; }

/************ BLOCK CART ******************/
#cart_block .title_block, #header  #cart_block h4 {
	display: none; 
}
#cart_block {
	font-size:0.9em;
	z-index: 10;
	display:none;
	position: absolute;
	right: 0;
	top: 45px;
	height: auto;
	background:#e2e2e2 ;
	font-weight: normal;
	width: 40%;
	z-index: 5000;
}
#cart_block.cart_block_hover {display:block}
#cart_block .title_block  span, #header  #cart_block h4 {
	float: right;
	padding-left: 10px;
	text-transform: none;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer
}

#cart_block  .block_content {padding:8px 8px 16px 8px;}

#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	margin-right:5px;
	min-width:18px;
}
#cart_block .cart_block_product_name {font-weight:normal}
#cart_block .remove_link {
	float:right;
	display:inline-block;
	margin:1px 0 0 5px;
	height:12px;
	width:12px
}
#cart_block .remove_link a {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(../img/icon/delete.gif) no-repeat 0 0
}
#cart_block .price {
	float:right
}

#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt {padding:4px 0; font-weight:normal}
#cart_block #cart_block_list dt a {font-weight:normal}
#cart_block #cart_block_list dd {
	margin-left:20px;
	font-weight:normal
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:20px;
	font-weight:normal;
	border-top:1px solid #999
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:right
}
#cart_block #cart_block_shipping_cost {font-weight:normal}

#cart_block #cart-buttons .button_small {display:none;}
#cart_block #cart-buttons  #button_order_cart {
	float:right;
	padding-left:20px
}
#cart_block #cart-buttons  #button_order_cart span {
	position:absolute;
	top:-1px;
	left:-12px;
	display:block;
	height:26px;
	width:26px;
	background:url(../img/icon/pict_add_cart.png) no-repeat 0 0
}
#cart_block table#vouchers {
	clear: both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding: 2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-right:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	width: 15px;
}
/************ HOOK_RIGHT ******************/
/****** Top Menu ********/
#blocktopmenu {background-color: #dddddd}

/************ HOOK_LEFT ******************/
#NOHrecomended {font-size: 0.9em;line-height: 1.4em;}
#NOHrecomended h4 {font-size: 1.1em;margin-bottom: 0;}
#NOHrecomended h5 {font-size: 0.9em; font-weight: normal}
#NOHrecomended ul {}
#NOHrecomended ul li {margin-bottom: 2em;float: left}
#NOHrecomended ul li img {width: 100%;}
#NOHrecomended ul li a {display: block;position: relative; width: 100%; border: 1px solid #e6e6e6}
#NOHrecomended ul li a span {display: none; position: absolute; top:0; padding: 0.2em; background: rgba(255, 255, 255, 0.5); line-height: 1em; color:#444; font-weight: bold;
}
#NOHrecomended ul li a:hover span {display: block;}
#NOHrecomended .web-more {display: block; clear:both; float: right; font-size: 0.9em}


/************ HOOK_HOME ******************/
/****** HOME slider ********/
.homeslider-container {overflow: hidden;}
#homeslider li {list-style-type: none;}
/****** HOME FEATURED ********/
.prod-quant input {margin-bottom: -5px;}
.prod-quant small {line-height: 1em; color: #ccc;}


/************ CATEGORY ******************/
ul.prod-list {
	list-style:none;	
}

.prod-item {
	
	background:#EAEAEA;
	position:relative
}

.prod-item img{
	/*width:100%;
	 height:220px; */
	margin:0px;
}
.prod-item h3 {
	position:absolute;
	top:0;
	left:0;
	font-size:1.1em;
	line-height:1.3em;
	background:#EAEAEA;
	background: rgba(255, 255, 255, 0.5);
	padding:0.3em 0.5em;
	color:#434343;
	width: 100%
}
.prod-item a:hover h3 {
	background:#FFF;
}
.prod-item .button {	
}
.prod-item .prod-price, .prod-item .prod-quant {
	margin:0px;	
}



/************ PRODUCTOS ******************/

.breadcrumb{
	background: #eaeaea;
	padding:10px;
}

.prod-card{
	background: #F4F4F4;
	padding-top:20px;
}
.prod-card .prod-left, .prod-card .prod-right {
	padding-top:20px;
	padding-bottom:20px;
}

.prod-card .prod-left .prod-img{
	position:relative;
}

.prod-card .prod-left h2{
	font-size:2em;
	line-height:25px;
	position:absolute;
	top:5px;
	left:10px;
	width:85%;
	background: rgba(255, 255, 255, 0.5); 
	color: #434343;
	padding:7px 10px;
}

.prod-buy, .prod-more, p.prod-des {
	/*
		width:100%;
	display:block;
*/
}
.prod-action { clear: both}

p.prod-des  {
	line-height:1em;
	font-size:1.4em;
}

.prod-buy {
	/* height:55px; */	
}

.prod-quant {
	/*
border:1px solid #424242;
	margin-top:5px;
	margin-right:30px;
	padding:10px;
	float:right;
*/
}

body .prod-price {
	background: #808080;
	padding:0.5em;
	color:#FFF;	
	float:left;
	clear: both;
}
.prod-price-single {}
.prod-card .button {
	/* float:right; */
	margin-bottom:0px;
}
.prod-rel {
	background: #eaeaea;
}
/* miniatures */
#pb-right-column #views_block {
	margin-top:10px;
	width:100%;
}

#thumbs_list {
	float:left;
	overflow:hidden;
	margin-left:0;
	width:100%;
}

#thumbs_list ul#thumbs_list_frame {
	list-style-type:none;
	padding-left:0;
}

#thumbs_list li {
	float:left;
	width:80px;
	cursor:pointer;
	margin-right: 1%
}

#thumbs_list li img {
	margin:0;
	border:1px solid #cdcdcd;
}

span.view_scroll_spacer {
	float:left;
	height:16px;
	width:21px;
}

#view_scroll_left,#view_scroll_right {
	float:left;
	margin-top:20px;
	padding:0 4px;
	height:18px;
	width:9px;
	text-indent:-3000px;
	background:url(../img/thumbs_left.gif) no-repeat center center transparent;
}

#view_scroll_right {
	margin-left:4px;
	background-image:url(../img/thumbs_right.gif);
}

.resetimg {
	padding:10px 0 0;
}
/************* Accesorios y relacionados ********/
#accesories .prod-amount {padding-left: 0.5em; font-size: 0.9em}
#accesories .button {font-size: 0.85em;}







/*********************************/
/* The Grid ---------------------- */
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }
 
.lt-ie9 .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
 
.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }
 
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 { width: 8.33333%; }
 
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 { width: 16.66667%; }
 
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 { width: 25%; }
 
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 { width: 33.33333%; }
 
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 { width: 41.66667%; }
 
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 { width: 50%; }
 
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 { width: 58.33333%; }
 
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 { width: 66.66667%; }
 
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 { width: 75%; }
 
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 { width: 83.33333%; }
 
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 { width: 91.66667%; }
 
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }
 
.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }
 
.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }
 
.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }
 
/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }

